video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: relative;
  display: inline-block;
}

.hero-container {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.hero-container > h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 60px;
  font-weight: bold;
}

.hero-container > p {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 20px;
}

.hero-container > .hero-btns {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 20px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 40px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  video {
    object-fit: cover;
    width: 100%;
    height: auto;
    z-index: -1;
    position: relative;
    display: inline-block;
  }

  .hero-container > h1 {
    font-size: 30px;
    margin-top: -150px;
  }

  .hero-container > p {
    font-size: 15px;
    margin-top: -230px;
  }

  .hero-container > .hero-btns {
    font-size: 15px;
    margin-top: -280px;
  }
}

@media screen and (max-width: 480px) {

  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: relative;
    display: inline-block;
  }

  .hero-container > h1 {
    font-size: 26px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 20px;
    margin-top: -75px;
  }

  .hero-container > .hero-btns {
    font-size: 14px;
    margin-top: -25px;
  }
}
